!!!
%html
  %head
    %title Contact Me
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:href => "assets/css/bootstrap.min.css", :rel => "stylesheet", :media => "screen"}
    %link{:href => "assets/css/bootstrap-responsive.min.css", :rel => "stylesheet", :media => "screen"}
    %link{:href => "assets/css/style.css", :rel => "stylesheet", :media => "screen"}
  %body
    .container
      .jumbotron
        %h1 one time I made A WEBSITE
        %h2 it was pretty cool
      .row
        .span6.leftColumn
          %p enlist my services
          %p find me on the internet
        .span6.rightColumn
          %p other words

