!!!
%html
  %head
    %title Josh Kaplan
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:href => "assets/css/bootstrap.min.css", :rel => "stylesheet", :media => "screen"}
    %link{:href => "assets/css/bootstrap-responsive.min.css", :rel => "stylesheet", :media => "screen"}
    %link{:href => "assets/css/style.css", :rel => "stylesheet", :media => "screen"}
  %body
    .container
      .jumbotron
        %h1 hi my name is JOSH KAPLAN
        %h2 I am a professional internet
      .row
        .span6.leftColumn
          %p
            %a{:href => "contact.html", :title => "you know you want to"} enlist my services
          %p find me on the internet
        .span6.rightColumn
          %p other words
